<p-card header="Channel Performance">
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between p-4">
      <h3 class="text-lg font-semibold m-0">Channel Performance</h3>
      <p-dropdown 
        [options]="metricOptions" 
        [(ngModel)]="selectedMetric"
        optionLabel="label"
        optionValue="value"
        [style]="{'min-width': '150px'}">
      </p-dropdown>
    </div>
  </ng-template>
  
  <div class="flex flex-column gap-4">
    <div class="flex align-items-center justify-content-between" *ngFor="let channel of channelData">
      <div class="flex align-items-center gap-3">
        <i class="pi text-xl" [ngClass]="[channel.icon, 'text-' + channel.color + '-500']"></i>
        <span class="font-medium text-700">{{channel.channel}}</span>
      </div>
      <div class="flex align-items-center gap-4 flex-1" style="max-width: 300px;">
        <div class="progress-bar flex-1">
          <div class="progress-fill" 
               [ngClass]="'bg-' + channel.color + '-500'"
               [style.width.%]="channel.value"></div>
        </div>
        <span class="text-sm font-medium text-900" style="min-width: 3rem; text-align: right;">
          {{channel.value}}%
        </span>
      </div>
    </div>
  </div>
</p-card>